// Color

$back           : #000;
$white          : #fff;

// Screen
$screen-min: 480px !default;
$screen-xs-min: $screen-min !default;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
